<%= link_to "New Card", new_card_path %>
<h1>Your cards </h1>
<table>
  <tr>
    <th>front</th>
    <th>back</th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.front %></td>
      <td><%= card.back %></td>
      <td><%= link_to 'Show', card_path(card) %></td>
      <td><%= link_to 'Edit', edit_card_path(card) %></td>
      <td><%= link_to 'Destroy', card_path(card),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
